@charset "UTF-8";
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size：8vw;
  font-family: sans-serif;
  width : 300px ;
  height : 200px ;
  flex-wrap : wrap;
  overflow : hidden;
  word-break : break-all;
  word-wrap : break-word;
  overflow-wrap : break-word;
  background-color: #222222;
}

a {
  color: skyblue
}
